<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlServerConnectionString" connectionString=""/>
    <add name="PostgresConnectionString" connectionString=""/>
  </connectionStrings>
  <!-- 
  1) SqlLite ( default setting, requires no additional configuration) 
  2) Sql Server ( requires a sql server instance avaliale) 
  3) Postgre ( requires a postgre instance avaliabe)  
  -->
  <appSettings>
    <add key="DataBaseEngineSelect" value="1"/>
    <add key="serilog:minimum-level" value="Debug" />
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File.path" value="%APPDATA%\Divy\DivyLog-.txt" />
    <add key="serilog:write-to:File.rollingInterval" value="Day"/>
  </appSettings>
</configuration>